<%- include('../partials/utils/start.ejs')%>
<%- include('../partials/header.ejs')%>

<body>
	<%- include('../partials/navbar/admin/navbar.ejs')%>

	<div class="container">
		<h1>ADMIN</h1>
	</div>

	<%- include('../partials/utils/scripts.ejs')%>
</body>
<%- include('../partials/utils/end.ejs')%>
