<%- include('../../partials/utils/start.ejs')%>
<%- include('../../partials/header.ejs')%>

<body>
	<%- include('../../partials/navbar/admin/navbar.ejs')%>

	<div class="container">
		<div class="card mt-4">
			<div class="card-header">
				<h2 class="card-title">Cadastrar Categoria</h2>
			</div>
			<form class="m-4" action="/categories/save" method="POST">
				<input type="text" name="title" placeholder="ex: My Title" class="form-control mt-2" required>
				<button class="btn btn-primary mt-4">Cadastrar</button>
			</form>
		</div>
	</div>

	<%- include('../../partials/utils/scripts.ejs')%>
</body>
<%- include('../../partials/utils/end.ejs')%>
